<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="LampAdmin">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>